.container {
  min-height: 100%;

  --bg-opacity: 1;

  max-width: 50rem;
  margin-left: 20%;
}
.container::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  background: var(--color-secondary4);
  z-index: -1;
  opacity: var(--bg-opacity);
  transition: opacity 100ms ease-in;
}

.buttonGroup {
  padding-top: 2rem;
  display: flex;
}

.buttonGroup div {
  display: flex;
  flex: 1;
  gap: 1rem;
  justify-content: center;
}

.buttonGroup a {
  text-decoration: none;
}

.buttonGroup button {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 0.3rem;
  padding: 0.4rem;
  background-color: var(--color-secondary2__tint2);
}

.buttonGroup button:hover {
  background-color: var(--color-secondary2__tint3);
  cursor: pointer;
}

@media (max-width: 1000px) {
  .container {
    margin-left: 0;
  }

  .buttonGroup {
    display: none;
  }
}

h1,
h2,
h3,
h4 {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

.section {
  margin: 40vh 0;
  padding: 0 2rem;
}

.logoSection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 4fr));
  grid-auto-rows: 1fr;
  column-gap: 5rem;
  row-gap: 1rem;
  align-items: stretch;
}
.logoSection > img {
  display: block;
  max-width: 100%;
  width: 100%;
}
