.metadata {
  margin: 4rem 0;
}

.metadata h1,
.metadata h2,
.metadata h3,
.metadata h4,
.metadata p {
  margin: 0 !important;
}
.metadata__header {
  margin-bottom: 1rem;
}
.metadata p:first-child {
  text-transform: uppercase;
}
.metadata span:first-child {
  margin-right: 2rem;
}
