.main-container {
  padding: 2rem;
  position: relative;
  height: min-content;
  width: min-content;
  line-height: 0;
}

.decorative-box {
  position: absolute;
  top: 0;
  left: 0;
  aspect-ratio: 1;
  border-radius: 0.5rem;
}

.child-container {
  position: relative;
  height: fit-content;
  width: fit-content;
}
