* {
  padding: 0;
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --baseSize: 16px;

  --padding--small: 1rem;
  --padding--medium: 2rem;
  --buttonPadding: var(--padding--small) var(--padding--medium);

  --green: #03dac6;
  --pink: #ff0166;
  --lightPink: #ffc4bc;
  --beige: #ede8d7;
  --purple: #6200ee;
  --black: #33333d;
  --white: #fff;
  --grey: #494949;
}

html {
  font-size: var(--baseSize);
  font-family: 'IBM Plex Sans', sans-serif;
  color: var(--black);
  background: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'IBM Plex Serif', serif;
  font-weight: 500;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}

ul,
ol {
  padding: inherit;
}

p,
li {
  font-size: 1.5rem;
}

p {
  margin: var(--padding--small) 0;
}

a {
  color: var(--black);
  text-decoration: none;
  border-bottom: 2px solid var(--green);
  transition: border-color 200ms ease-in;
}

a:hover {
  border-color: var(--pink);
}

img {
  max-width: 100%;
}

.main {
  width: 80%;
  max-width: 1200px;
  min-width: 370px;
  margin: 2rem auto;

  padding: 0 var(--padding--small);
}

.section {
  margin-bottom: 12rem;
}

.logoTitle {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  text-transform: lowercase;
  letter-spacing: -0.2rem;
  font-size: 20vw;
}

.logoTitle--background {
  background: url(./design/pattern.svg) no-repeat;
  background-position-x: 30%;
  background-position-y: 25%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.credit {
  text-align: right;
}

h1 {
  margin-bottom: 3rem;
}

.heroBox {
  position: relative;
}
.heroBox img {
  max-width: 100%;
}
.heroBox .logoTitle {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: var(--white);
}

.typhography {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.typhography h2,
.typhography h3,
.typhography h4,
.typhography h5,
.typhography h6 {
  padding: var(--padding--small) 0;
}
.typhography > h2 {
  width: 100%;
  padding: 0;
  margin-bottom: var(--padding--medium);
}

.typhography div {
  flex: 1 1 50%;
  padding: 2rem;
}

.colorList {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.color {
  display: block;
  height: 10rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex: 1 0 auto;
  padding: 1rem;
  flex-direction: column;
}

.color__cmyk {
  font-size: 0.8rem;
}

.color--green {
  background-color: var(--green);
}
.color--pink {
  background-color: var(--pink);
}
.color--lightPink {
  background-color: var(--lightPink);
}
.color--beige {
  background-color: var(--beige);
}
.color--purple {
  background-color: var(--purple);
  color: var(--white);
}
.color--black {
  background-color: var(--black);
  color: var(--white);
}

.illustrations__example {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 30rem;
  flex-wrap: wrap;
  margin: var(--padding--medium) 0;
}
.illustrations__example img {
  margin: var(--padding--small);
  display: block;
  min-width: 370px;
  width: 29%;
}
.illustrations__example img:nth-child(2) {
  align-self: flex-end;
}

.links {
  text-align: center;
  margin: var(--padding--medium) 0;
}

.links p {
  margin: var(--padding--small);
}
.links button {
  margin: var(--padding--small);
}

.button {
  display: inline-block;
  padding: var(--buttonPadding);
  background: var(--purple);
  border-radius: 0.2rem;
  box-shadow: 0.3rem 0.3rem 0 var(--pink);
  color: var(--white);
  font-size: 2rem;
  font-weight: 500;
  border: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  text-decoration: none;
  cursor: pointer;

  transition: box-shadow 200ms ease-in;
}
.button:hover {
  box-shadow: 0.5rem 0.5rem 0 var(--pink);
}
.button:active {
  box-shadow: 0.1rem 0.1rem 0 var(--pink);
}
